<!--
 *
 * Cytonn Technologies
 * @author Ndirangu Wilson <wndirangu@cytonn.com>
 *
-->

<button ng-click="cmaCtrl.logout()" ng-show="cmaCtrl.isAuthed()">Logout</button>
<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>

  </tr>
  <tr ng-repeat="customer in customers">
    <td>
      <input type="text" ng-model="customer.name" ng-show="customer.editable">
               <span ng-hide="customer.editable">{{customer.firstname}}</span>

    </td>
    <td>
      <input type="text" ng-model="customer.country" ng-show="customer.editable">
               <span ng-hide="customer.editable">  {{customer.lastname}}</span>

    </td>
    <td>
      <td>
          <button  ng-click="cmaCtrl.edit($index)" ng-hide="customer.editable">Edit</button>
          <button  ng-click="cmaCtrl.save($index)" ng-show="customer.editable">Save</button>

      <button  class="button" ng-click="cmaCtrl.removeCustomer($index)">remove Customer {{$index}}</button>

    </td>
    <td>
      <button  class="button" ng-click="cmaCtrl.addOrder(customer)">Add Order</button>

    </td>


  </tr>
  <tr>
  <td>
    <input type="text" ng-model="cmaCtrl.firstname" placeholder="firstame" ><br />

  </td>
  <td>
      <input type="text" ng-model="cmaCtrl.lastname" placeholder="lastname" ><br />
  </td>


  </tr>

</table>
<button  class="button" ng-click="cmaCtrl.addCustomer()">Add Customer {{cmaCtrl.counter}}</button>

<div ui-view></div>
