<!--
 *
 * Cytonn Technologies
 * @author Ndirangu Wilson <wndirangu@cytonn.com>
 *
-->
<h1> Customer Management App Login</h1>

<input type="text" ng-model="cmaCtrl.username" placeholder="username">
<br>
<input type="password" ng-model="cmaCtrl.password" placeholder="password">
<br>
<br>

<button ng-click="cmaCtrl.register()" ng-hide="cmaCtrl.isAuthed()">Register</button>
<button ng-click="cmaCtrl.login()" ng-hide="cmaCtrl.isAuthed()">Login</button>
<button ng-click="cmaCtrl.logout()" ng-show="cmaCtrl.isAuthed()">Logout</button>

<br>
<br> {{cmaCtrl.message}}

<br>
<br>
<br>
<div ui-view></div>
